<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Meu Blog
            <small>Algumas idéias</small>
        </h1>

        <div *ngFor="let post of posts">
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/blog', post.alias]" class="btn btn-primary">Leia Mais &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{post.createdAt}} por
                    <a href="#">{{post.author}}</a>
                </div>
            </div>
        </div>
        <!-- Blog Post -->


        <!-- Blog Post -->


    </div>

</div>